# mv .env.example .env and configure for your system
GITHUB_CLIENT_ID=your_client_id
GITHUB_CLIENT_SECRET=your_client_secret
GITHUB_OWNER=your_org
GITHUB_REPO=your_repo
SESSION_SECRET=supersecretstring
